.ant-carousel .slick-slide {
    height: 30vh;
    background: #494D5F;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}